### **Importação dos dados**

In [1]:
import pandas as pd

loja_1 = pd.read_csv('loja_1.csv')
loja_2 = pd.read_csv('loja_2.csv')
loja_3 = pd.read_csv('loja_3.csv')
loja_4 = pd.read_csv('loja_4.csv')

loja_1 = pd.DataFrame(loja_1)
loja_2 = pd.DataFrame(loja_2)
loja_3 = pd.DataFrame(loja_3)
loja_4 = pd.DataFrame(loja_4)

In [4]:
loja_1.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

# 1. Análise do faturamento

In [5]:
faturamento_total_loja1 = round(loja_1['Preço'].sum())
faturamento_total_loja2 = round(loja_2['Preço'].sum())
faturamento_total_loja3 = round(loja_3['Preço'].sum())
faturamento_total_loja4 = round(loja_4['Preço'].sum())
print(f'Faturamento das lojas:\nloja 1: {faturamento_total_loja1}\nloja 2: {faturamento_total_loja2}\nloja 3: {faturamento_total_loja3}\nloja 4: {faturamento_total_loja4}')

Faturamento das lojas:
loja 1: 1534509
loja 2: 1488459
loja 3: 1464025
loja 4: 1384498

In [9]:
import plotly.express as px
df_faturamento = { "Loja":["Loja 1","Loja 2", "Loja 3", "Loja 4"],
      "Faturamento":[faturamento_total_loja1,faturamento_total_loja2,faturamento_total_loja3,faturamento_total_loja4]}
df = pd.DataFrame(df_faturamento)
fig = px.bar(data_frame=df,
             x="Loja",
             y='Faturamento',
             title="Faturamento por loja",
             color="Loja",
             text="Faturamento")

# Ajustar formatação (opcional)
fig.update_traces(texttemplate='R$ %{text:,.2f}', textposition='outside')  # Formato monetário
fig.update_layout(yaxis_title="Faturamento (R$)")  # Renomear eixo Y

# Mostrar o gráfico
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

# 2. Vendas por Categoria

# 3. Média de Avaliação das Lojas

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja